name: Keep n8n Awake

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping n8n
        run: curl -s https://n8n-render-lktj.onrender.com > /dev/null
